body {
    background-color: rgb(200, 200, 200);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header img#logo{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    box-shadow: 4px 4px 2px gray;
}

form#formulaire{
    display: block;
    margin: auto;
    background-color: white;
    box-shadow: 6px 6px 3px gray;
    width: auto;
    max-width: 1000px;
    padding: 10px;
    
}

div#champs{
    display: block;
}

div.input{
    padding: 2px;
    margin: 2px;
}

@media (min-width: 600px) {
    div#champs{
        display: flex;
        flex-flow: row wrap;
    }

    div.input{
        flex-grow: 1;
    }
}

div.input input, div.input select{
    width: 100%;
    border: none;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    caret-color: auto;
}

div.input input:invalid, div.input select:invalid{
    border-bottom-style: solid;
    border-bottom-color: red;
    caret-color: red;
}

div#boutons{
    margin-top: 20px;
}

div#boutons input{
    margin: 10px;
    background-color: rgb(150,150,150);
    text-transform: uppercase;
    border: none;
    box-shadow: 4px 4px 2px gray;
}

input#bouton{
    margin: 10px;
    background-color: gray;
    text-transform: uppercase;
    border: none;
    box-shadow: 4px 4px 2px gray;
}

input#bouton:hover{
    background-color: rgb(125,125,125);
}

main{
    margin-top: 20px;
}

table#tableau {
    border: 1px solid;
    width: 100%;

}

table#tableau th, table#tableau td{
    margin: 1px;
    border: 1px solid;
    width: 25%
}