header img#logo{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    box-shadow: 4px 4px 2px gray;
}

body {
    background-color: rgb(200, 200, 200);
}