header img#logo{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    box-shadow: 4px 4px 2px gray;
}

body {
    background-color: rgb(200, 200, 200);
}

form#formulaire{
    display: block;
    margin: auto;
    background-color: white;
    box-shadow: 6px 6px 3px gray;
    width: auto;
    max-width: 1000px;
    padding: 10px;
    
}

div#champs{
    display: flex;
    flex-flow: row wrap;
}

div.input{
    flex-grow: 1;
    padding: 2px;
    margin: 2px;
}

div.input input, div.input select{
    width: 100%;
    border: none;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: gray;
}

div#boutons{
    margin-top: 20px;
}

div#boutons input{
    margin: 10px;
}