<!DOCTYPE html>
<html>
    <head>
        <title>Website</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h1>Bonjour, nous sommes dans le groupe {{groupe}}</h1>
            <h1>Notre âge est {{age}}</h1>
            <p>L'année courante est {{annee}}</p>
        </div>
        <div id="vm2">
            <p :style="isWhite ? styleWhite : styleBlack">{{myText}}</p>
            <button v-on:click="inverser">Changer la couleur</button>
        </div>
        <div id="tableau">
            <tab :etudiants="tab" groupe="A"></tab>
            <tab :etudiants="tab" groupe="B"></tab>
        </div>
        <script>
            var date = new Date();
            var app = new Vue({
                el: "#app",
                data:{
                    groupe: 'F',
                    age: 21,
                    annee: date.getFullYear()
                }
            });
            var vm2 = new Vue({
                el: "#vm2",
                data: {
                    isWhite: false,
                    styleWhite: {
                        background: "white",
                        color: "black"
                    },
                    styleBlack: {
                        background: "black",
                        color: "white"
                    }                    
                },
                computed: {
                    myText(){
                        if (this.isWhite) {
                            return "Blanc";
                        }
                        else {
                            return "Noir";
                        }
                    }
                },
                methods: {
                    inverser() {
                        this.isWhite = !this.isWhite
                    }
                }
                
            });
            Vue.component('tab', {
                props: {
                    etudiants : Array,
                    groupe: String
                },
                template: `
                    <table class="tableau">
                        <tr>
                            <th>Id étudiant</th>
                            <th>Nom</th>
                            <th>Note</th>
                        </tr>
                        <tr v-for="(etudiant, index) in etudiants" :key="index" v-if="etudiant.groupe == groupe">
                            <td>{{index}}</td>
                            <td>{{etudiant.nom}}</td>
                            <td>{{etudiant.note}}</td>
                        </tr>
                    </table>
                `
            });

            var tab = new Vue({
                el: "#tableau",
                data: {
                    tab: [
                        {nom : "Dupont", note : 12, groupe: "A"},
                        {nom : "Aubin", note : 8, groupe : "B"},
                        {nom : "François", note : 14, groupe : "B"},
                        {nom : "Martin", note : 9, groupe : "A"}
                    ]
                }
            });
        </script>
    </body>
</html>